<h1 class="center">Lista de Tarefas</h1>
<hr>
<form class="center" (ngSubmit)="onSubmit(form)" #form="ngForm">
  <input type="text" name="tarefa" [(ngModel)]="tarefa" placeholder="Tarefa" required>
  <button type="submit" class="botao botao-acao botao-salvar" [disabled]="!form.valid">{{ editando ? 'Atualizar' : 'Salvar'}}</button>
</form>

<table class="center tabela" *ngIf="listaTarefas.length > 0">
  <thead>
    <th style="text-align:center"><input type="checkbox" (change)="selecionarTodos()"></th>
    <th style="text-align:center">Tarefa</th>
    <th style="text-align:center">Ações</th>
  </thead>
  <tbody>
    <tr *ngFor="let tarefa of listaTarefas | filtro:filtroMostrar:'ativo'; let i = index;">
      <td><input type="checkbox" [(ngModel)]="tarefa.selected"></td>
      <td>{{tarefa.descricao}}</td>
      <td>
        <button type="button" class="botao botao-table botao-acao" (click)="onComplete(i)" *ngIf="tarefa.ativa">Finalizar</button>
        <button type="button" class="botao botao-table botao-acao" (click)="onEdit(i)">Editar</button>
        <button type="button" class="botao botao-table botao-excluir" (click)="onDelete(i)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
<hr>
<article class="center" *ngIf="listaTarefas.length > 0">
  <button type="button" class="botao botao-acao" (click)="filtrar(null)">Mostrar Todos</button>
  <button type="button" class="botao botao-acao" (click)="filtrar(false)">Mostrar Finalizados</button>
  <button type="button" class="botao botao-acao" (click)="filtrar(true)">Mostrar a Fazer</button>
  <button type="button" class="botao botao-excluir" (click)="excluir()">Excluir Selecionados</button>
  <button type="button" class="botao botao-excluir" (click)="excluirTodos()">Excluir Todos</button>
</article>