<ul>
  <li class="active">
    <i antIcon type="inbox"></i>
    <a [routerLink]="['/todos']"><span>Lista de tarefas</span></a>
  </li>
  <li>
    <i antIcon type="calendar"></i>
    <span>Hoje</span>
  </li>
  <li>
    <i antIcon type="calendar"></i>
    <span>Próximos 7 dias</span>
  </li>
  <li>
    <i antIcon type="right"></i>
    <span>Projetos</span>
    <i antIcon type="plus"></i>
  </li>
  <li>
    <i antIcon type="right"></i>
    <span>Etiquetas</span>
    <i antIcon type="plus"></i>
  </li>
</ul>
